**условные операторы:**

In [ ]:
x = True
if x:
    print('ok')
else:
    print('not ok')

**циклы :**

In [ ]:
for i in range(10):
    print(i, end = " ") # вторая часть оператора существует тут для того, чтобы вывод всех чисел был на одной строке

In [ ]:
for i in range(2,10):
    print(i, end = " ") # вывод начинается с двойки

In [ ]:
for i in range(1, 20, 2):
    print(i, end = " ") # вывод с интервалом 2

In [ ]:
range(2,10)

In [ ]:
type(range(2,10))

In [ ]:
range(2,10, 1)

In [ ]:
xrange(2,10)

**list comprehension - составление списков**

In [ ]:
x =([x**2 for x in range(1,11) if x%2 == 0]) #выводим сразу списком числа, нагереренные range и так же отсекаем нечетные числа

In [ ]:
type(x) # все нагеренные числа в этом случае генерируются всегда заново

In [ ]:
x =(x**2 for x in range(1,11) if x%2 == 0) #выводим сразу списком числа, нагереренные range и так же отсекаем нечетные числа

In [ ]:
type(x) # если мы заменим квадратные скобки на круглые, то мы получим тип генератор

**цикл while**

In [ ]:
x = True
s = 0
while x:
    s +=1
    print(s)
    if s < 10:
        continue # продолжаем цикл, какие-то промежуточные проверочные условия
    else:
        break # прерывание и выход из цикла

**функции в питоне**

In [ ]:
def my_range(a,b):
    res = []
    s = a
    while s !=b:
        res.append(s)
        s+=1
    return res

In [ ]:
my_range(2,7)

In [1]:
def sqr(a):  # функция возведения в квадрат
    a = a**2
    return(a)

In [2]:
total = list(map(sqr, range(1,10))) # пример использования фунции map для применения другой функции к некоторому количеству значений

In [3]:
total

[1, 4, 9, 16, 25, 36, 49, 64, 81]

_ни при каких обстоятельствах не стоит называть переменные именами функций, иначе будет очень плохо в конце_

In [10]:
lambda_total = list(map(lambda x: x ** 2, range(10,15))) # c помощью лямбда функции мы можешь прописать требуемую функцию, которая будет применениа к диапазону значений сразу же

In [27]:
lambda_total

[100, 121, 144, 169, 196]

In [30]:
test = lambda x, y: x *y

In [32]:
test(10, 1)

10