In [2]:
import pandas as pd

data_of_pass = pd.read_csv('titanic.csv', index_col = 'PassengerId')

In [6]:
data_of_pass.head(3) #показывает первые 30 строк файла

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,no,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,yes,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,yes,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [4]:
# Задание 1 - сколько мужчин и женщик ехать на корабле?
x = data_of_pass['Sex'].value_counts(dropna = False) # на всякий случай проверяем, если ли наны
x
#  ОТВЕТ: мужчин - 577 ; женщин - 314

male      577
female    314
Name: Sex, dtype: int64

In [5]:
# задание 2 - какой части пассажиров удалось выжить? ответ привести в процентах с округлением до двух знаков
# заменим единичку на слово, которое удобнее парсить inplace = true означает, что данные реально меняются в источнике
data_of_pass['Survived'].replace(1, 'yes', inplace = True)
# то же самое сделаем с отрицательным результатом
data_of_pass['Survived'].replace(0, 'no', inplace = True) 
#  выбираем сколько было выживших и нет
surv_passengers = data_of_pass['Survived'].value_counts(dropna = False) 
# общее число пассажиров, которые находились на борту
total_passengers = sum([surv_passengers.yes, surv_passengers.no]) 
# расчет доли выживших на корабле
percent_of_survd_passengers = (100/total_passengers)*surv_passengers.yes 
# форматированный вывод строки с числом процентов с точностью до двух знаков
"%.2f процентов выжило"%percent_of_survd_passengers 

# Ответ : 38.38 процентов выжило

'38.38 процентов выжило'

In [12]:
# задание 3 - какую долю составляли пассажиры первого класса?
data_of_pass['Pclass'].replace(1, 'top', inplace = True)
class_passsangers =  data_of_pass['Pclass'].value_counts(dropna = False)
percent_of_first_class = (100/total_passengers)*class_passsangers.top
"%.2f процентов было первого класса"%percent_of_first_class
# Ответ - пассажирова первого класса было 24,24 процента

'24.24 процентов было первого класса'

In [42]:
# Задание 4 - какого возраста были пассажиры? посчитать среднее значение и медиану возрастов.
age_median = data_of_pass['Age'].median() # расчет медианы по возрасту, медиана - срединное значение возраста пассажиров
age_mean =  data_of_pass['Age'].mean() # расчет среднего значения возрастов пассажиров
print ("медиана возраста равна " "%.f"%age_median, " средний возраст равен " "%.2f"%age_mean)

# ответ - средний возраст равен 29,70 , медиана равна 28 лет

медиана возраста равна 28  средний возраст равен 29.70