In [57]:
# модулей загружено достаточно много просто для того, чтобы можно было попробовать разные варианты для отображения
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
data_of_pass = pd.read_csv('titanic.csv', index_col = 'PassengerId')

In [73]:
data_of_pass.head(10) #показывает первые 10 строк файла

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [4]:
# Задание 1 - сколько мужчин и женщик ехать на корабле?
x = data_of_pass['Sex'].value_counts(dropna = False) # на всякий случай проверяем, если ли наны
x
#  ОТВЕТ: мужчин - 577 ; женщин - 314

male      577
female    314
Name: Sex, dtype: int64

In [5]:
# задание 2 - какой части пассажиров удалось выжить? ответ привести в процентах с округлением до двух знаков
# заменим единичку на слово, которое удобнее парсить inplace = true означает, что данные реально меняются в источнике
data_of_pass['Survived'].replace(1, 'yes', inplace = True)
# то же самое сделаем с отрицательным результатом
data_of_pass['Survived'].replace(0, 'no', inplace = True) 
#  выбираем сколько было выживших и нет
surv_passengers = data_of_pass['Survived'].value_counts(dropna = False) 
# общее число пассажиров, которые находились на борту
total_passengers = sum([surv_passengers.yes, surv_passengers.no]) 
# расчет доли выживших на корабле
percent_of_survd_passengers = (100/total_passengers)*surv_passengers.yes 
# форматированный вывод строки с числом процентов с точностью до двух знаков
"%.2f процентов выжило"%percent_of_survd_passengers 

# Ответ : 38.38 процентов выжило

'38.38 процентов выжило'

In [12]:
# задание 3 - какую долю составляли пассажиры первого класса?
data_of_pass['Pclass'].replace(1, 'top', inplace = True)
class_passsangers =  data_of_pass['Pclass'].value_counts(dropna = False)
percent_of_first_class = (100/total_passengers)*class_passsangers.top
"%.2f процентов было первого класса"%percent_of_first_class
# Ответ - пассажирова первого класса было 24,24 процента

'24.24 процентов было первого класса'

In [42]:
# Задание 4 - какого возраста были пассажиры? посчитать среднее значение и медиану возрастов.
age_median = data_of_pass['Age'].median() # расчет медианы по возрасту, медиана - срединное значение возраста пассажиров
age_mean =  data_of_pass['Age'].mean() # расчет среднего значения возрастов пассажиров
print ("медиана возраста равна " "%.f"%age_median, " средний возраст равен " "%.2f"%age_mean)

# ответ - средний возраст равен 29,70 , медиана равна 28 лет

медиана возраста равна 28  средний возраст равен 29.70

In [84]:
# подсчет корреляции Пирсона между признаками SibSp и Parch
data_of_pass['Pclass'].replace('top', 1, inplace = True)
data_of_pass['Survived'].replace('yes', 1, inplace = True)
data_of_pass['Survived'].replace('no', 0, inplace = True)
corr = np.corrcoef(data_of_pass['Pclass'], data_of_pass['Survived'])

corr_2 = data_of_pass['SibSp'].corr(data_of_pass['Parch'])

# корреляция 0,41

In [99]:
# разделение столбца по разделителю - в данном случае разделителем является точка после мистера или миссис
# expand = true означает, что по разделителю будут сразу созданы дополнительные столбцы
splitted_surname_name =  data_of_pass['Name'].str.split('.', expand = True) 
# после этого уже деленный датасет мы поделим по пробелу, тем самым получив отдельные слова в столбцах
splittig_name = splitted_surname_name[1].str.split(' ', expand = True)

In [107]:
# так как у нас не было задачи автоматизированное находить самое популярное женское имя, мы просто
# посчитаем в общем сколько у нас каких имен вышло, возьмем первые 30 строк датасета
# выведем их и увидим, что самое распространенное женское имя - Анна
splittig_name[1].value_counts().head(30)

William      48
John         31
Thomas       19
Charles      16
George       16
James        15
Henry        15
Frederick    13
Edward       13
Richard      11
Johan        10
Anna          9
Samuel        9
Mary          9
Joseph        9
Karl          9
Alfred        7
Albert        7
Arthur        7
Peter         6
Margaret      6
Elizabeth     6
Robert        6
Ernest        6
Victor        6
Walter        5
Harry         5
Ernst         5
Frank         5
Alexander     5
Name: 1, dtype: int64